<!-- Structured data: tells search engines who this site is about and links the profiles. -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Susanne Haridi",
  "honorificPrefix": "Dr.",
  "jobTitle": "Postdoctoral Researcher",
  "url": "https://susanneharidi.github.io/",
  "image": "https://susanneharidi.github.io/files/headshot.jpg",
  "email": "mailto:susanne.haridi@psy.lmu.de",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "LMU Munich (Ludwig-Maximilians-Universität München)",
    "url": "https://www.lmu.de/"
  },
  "alumniOf": [
    { "@type": "CollegeOrUniversity", "name": "University of Tübingen" },
    { "@type": "CollegeOrUniversity", "name": "Humboldt-Universität zu Berlin" },
    { "@type": "CollegeOrUniversity", "name": "University of Würzburg" }
  ],
  "knowsAbout": [
    "Computational cognitive science",
    "Cognitive modeling",
    "Long-term memory retrieval",
    "Benchmarks for cognitive science"
  ],
  "sameAs": [
    "https://scholar.google.com/citations?user=D9ujv3IAAAAJ",
    "https://orcid.org/0000-0002-5738-2236",
    "https://github.com/susanneharidi",
    "https://www.linkedin.com/in/susanne-haridi-4015a5263/",
    "https://bsky.app/profile/susanneharidi.bsky.social",
    "https://x.com/HaridiSusanne",
    "https://www.youtube.com/@SusannesScholarlySnippets",
    "https://osf.io/2h8yq/",
    "https://www.lmu.de/psy/en/persons/contact-page/susanne-haridi-5d9b872c.html"
  ]
}
</script>
